.mantine-Accordion-label {
    font-weight: 500;
}

.mantine-Table-th {
    font-weight: 500;
}

strong {
    font-weight: 500;
}

/* TODO: Move to Markdown specific styles. */
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}