[submodule "apps/jsonpath-playground/src/jsonpath-tools/jsonpath-compliance-test-suite"]
	path = apps/jsonpath-playground/src/jsonpath-tools/jsonpath-compliance-test-suite
	url = https://github.com/jsonpath-standard/jsonpath-compliance-test-suite.git
