@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

@font-face {
    font-family: "Cascadia Mono";
    src: url("../fonts/CascadiaMono.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.mantine-Tabs-list {
    flex-wrap: nowrap;
    overflow: auto;
}

.mantine-Accordion-label {
    font-weight: 500;
}

.mantine-Table-th {
    font-weight: 500;
}

.mantine-Table-tbody .mantine-Table-tr:hover {
    background: var(--mantine-color-default-hover);
}

strong {
    font-weight: 500;
}

*::selection {
    background: var(--application-color-text-selection);
}

/* TODO: Move to Markdown specific styles. */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

.with-spacing h1,
.with-spacing h2,
.with-spacing h3,
.with-spacing h4,
.with-spacing h5,
.with-spacing h6,
.with-spacing p,
.with-spacing ul {
    margin: 0.75em 0 0.75em 0;
}

.with-spacing ul ul {
    margin: 0;
}

ul {
    padding-left: 30px;
}

a {
    color: var(--mantine-color-anchor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid var(--mantine-color-default-border);
}

pre, code {
    border-radius: var(--mantine-radius-default);
    background: var(--application-color-code-block);
}

code {
    font-family: var(--mantine-font-family-monospace);
    padding: 2px;
}

pre {
    margin: 0;
    overflow: auto;
    max-height: 300px;
}

pre>code {
    display: block;
    padding: 2px 5px;
    border-radius: 0;
}

table {
    width: 100%;
}

th {
    text-align: left;
    font-weight: 500;
}

th, td {
    padding: 6px 6px;
    border-bottom: solid 1px var(--mantine-color-default-border);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-corner {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--mantine-color-default-border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--mantine-color-dimmed);
}
