@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

@font-face {
    font-family: "Cascadia Mono";
    src: url("../fonts/CascadiaMono.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.mantine-Accordion-label {
    font-weight: 500;
}

.mantine-Table-th {
    font-weight: 500;
}

.mantine-Table-tbody .mantine-Table-tr:hover {
    background: var(--mantine-color-default-hover);
}

strong {
    font-weight: 500;
}

*::selection {
    background: var(--application-color-text-selection);
}

/* TODO: Move to Markdown specific styles. */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid var(--mantine-color-default-border);
}

code {
    font-family: var(--mantine-font-family-monospace);
    background: var(--application-color-code-block);
    border-radius: var(--mantine-radius-default);
    padding: 2px;
}

pre {
    margin: 0;
}

pre>code {
    display: block;
    padding: 2px 5px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--mantine-color-default-border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--mantine-color-dimmed);
}