[data-mantine-color-scheme=light] .header {
    background: var(--mantine-color-dark-7);
}

[data-mantine-color-scheme=dark] .header {
    background: var(--mantine-color-dark-9);
}

[data-mantine-color-scheme=light] .navbar, [data-mantine-color-scheme=light] .main {
    background: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme=dark] .navbar, [data-mantine-color-scheme=dark] .main {
    background: var(--mantine-color-dark-9);
}