.input {
    padding: 4px 6px 4px 0;
    transition: border-color 100ms ease;
}

.input:focus-within {
    border-color: var(--mantine-primary-color-filled);
}

[data-mantine-color-scheme="dark"] .input {
    --application-color-code-background: var(--mantine-color-dark-6);
    background: var(--application-color-code-background);
}